* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.calc-container {
    display: flex;
    flex: none;
    flex-direction: column;
    padding: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    width: 23rem;
    height: 32rem;
    background-color: #444445;
}

input {
    padding: 0px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    flex: auto;
    text-align: right;
    width: 100%;
    font-size: 40px;
}

input[disabled] {
    background-color: white;
    color: black;
}

.input-screen {
    display: flex;
    margin: 1rem 0rem;
    height: 6rem;
}

.input-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .2rem;
    margin-bottom: .5rem;
}

.btn {
    border: 1px solid #333333;
    border-radius: 12px;
    width: 5rem;
    height: 4.5rem;
    padding: 0px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 0;
}

.btn.operator {
    background-color: #456dd1;
}

.btn.misc {
    background-color: #666666;
}

.btn:hover {
    background-color: #f8f8f8;
    color: #666666;
    border: 1px solid #333333;
}